.header {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 0;
    }

    &__nav-logo {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__nav-logo-text {
        color: var(--primary-color-dark);
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
        padding: 12px 20px;
        color: var(--primary-color-dark);
    }

    &__hero-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
        background-image: url('../assets/images/Hero Section.png');
        background-size: 100%, auto;
        background-repeat: no-repeat;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px 0;
        max-width: 426px;
        text-align: center;
    }

    &__text-top {
        margin-bottom: 12px;
        color: #fff;
    }

    &__text-title {
        margin-bottom: 12px;
        color: #fff;
    }

    &__text-bottom {
        margin-top: 12px;
        color: #fff;
    }
}
