:root {
    --primary-color-1: #ff4646;
    --primary-color-10: #ff46461a;
    --primary-color-dark: #181c29;
    --white-color-1: #fff;
    --white-color-20: #fff3;
    --white-color-40: #fff6;
    --purple-color: #4361ff;
    --pink-color: #ff43f7;
    --green-color: #06a44f;
    --content-background: #ecf3f8;
    --overlay-color: #181c29cc;

    // container
    --container-padding: 15px;
    --container-width: 1410px;

    // transition
    --transition: 0.3s ease-in-out;
}
