<div class="overlay" data-burger="overlay"></div>
<header class="header">
    <div class="container">
        <div class="header__nav">
            <a href="./" class="header__nav-logo">
                <img src="/assets/icons/logo.svg" alt="logo-image" />
                <h3 class="header__nav-logo-text heading-h4">the gifts</h3>
            </a>
            <div class="header__right" data-burger="menu">
                <nav class="nav">
                    <ul class="header__nav-list heading-h4">
                        <li><a href="" class="header__nav-item">gifts</a></li>
                        <li><a href="" class="header__nav-item">about</a></li>
                        <li><a href="" class="header__nav-item">best</a></li>
                        <li>
                            <a href="" class="header__nav-item">contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <button class="burger" data-burger="btn" aria-label="Burger menu">
                <span class="burger__line"></span>
            </button>
        </div>
        <div class="header__hero">
            <div class="header__hero-bg">
                <div class="header__text-wrapper">
                    <h3 class="header__text-top text-caption">
                        Merry Christmas
                    </h3>
                    <h1 class="header__text-title heading-h1">
                        Gift yourself the magic of new possibilities
                    </h1>
                    <button class="header__btn magic-btn heading-h4">
                        Explore Magical Gifts
                    </button>
                    <h3 class="header__text-bottom text-caption">
                        and Happy New Year
                    </h3>
                </div>
            </div>
        </div>
    </div>
</header>
